body{
    color: #151618;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    line-height: normal !important;
}

.title {
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

@media (min-width: 1250px){
    .title__h1  {
        font-size: 4rem;
    }
}

@media (max-width: 1250px){
    .title__h1  {
        font-size: 2.5rem;
    }
}

.title__h2 {
    font-size: 2.5rem;
}

.image-main {
    background-image: url(./assets/img/book_top1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.image-main-style {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.color-back-green {
    background-color: #d6ffef;
}

.input-join {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: none;
    border: none;
    border-bottom: 1px solid #34e16d;
    padding: 1rem;
}

.input-join::placeholder {
    color: #34e16d;
}

.faq-accordion {
    background-color: #fafafa !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    background-color:#fafafa !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.book {
    border: none !important;
    transition: 0.2s;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.book__title:hover {
    color: #077d50;
}

.book:hover {
    box-shadow: 4px 8px 16px #077d50;
}

.price {
    background-color: #0d6efd;
    color: #fafafa;
    padding: 3px 10px;
    border-radius: 7px;
    font-size: 1.5rem;
}

.book__user_image {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.cart-number{
    position: relative;
    left: -5px;
    top: 12px;
}

.bg-book {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 20px;
}

.bg-cart {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 20px;
}

.bg-cart-title {
    background-color: #ffffff;
}

.cart-button {
    height: 5rem;
}

.cart-price {
    color: #077d50;
}