.image-main{
    background-image: url(./assets/img/book_top1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.image-main-style {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}